<div class="column is-one-quarter">
  <div class="box">
    <article class="media-content">
      <div class="content">
        <figure class="image is-100x100">
          <%= image_tag(achievement.icon.variant(resize: "100X100!")) %>
        </figure>
      </div>
      <div class="content">
        <strong><%= t('.title') %>:</strong>
        <%= achievement.title %>
      </div>
      <div class="content">
        <strong><%= t('.description') %>:</strong>
        <%= achievement.description %>
      </div>
    </article>
  </div>
</div>