<p class="subtitle is-5 has-text-centered">
  Achievements (<%= current_user.achievements.size %>)
</p>
<div class="columns is-multiline is-mobile">
  <%= render partial: "common/achievements/achievement", collection: current_user.achievements, as: :achievement %>
</div>