<div class="container">
  <div class="columns is-centered">
    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
      <p class="subtitle is-5 has-text-centered"><%= t('devise.form.resend_confirm') %></p>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class:'box' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email, class:'label' %>
          <%= f.email_field :email, class:'input', autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>

        <div class="field">
          <%= f.submit t('devise.form.resend_confirm'), class:'button is-success' %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
