<div class="container">
  <div class="columns is-centered">
    <div class="column is-7-tablet is-6-desktop is-5-widescreen">
      <p class="subtitle is-5 has-text-centered">Edit <%= resource_name.to_s.humanize %></p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                   html: { method: :put, class:'box' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :avatar, class:'label' %>
          <div class="control">
            <%= f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg,image/jpg', class: 'input' %>
          </div>
        </div>

        <div class="field">
          <%= f.label :first_name, class:'label' %>
          <%= f.text_field :first_name, autofocus: true, class:'input' %>
        </div>

        <div class="field">
          <%= f.label :patronymic, class:'label' %>
          <%= f.text_field :patronymic, class:'input' %>
        </div>

        <div class="field">
          <%= f.label :last_name, class:'label' %>
          <%= f.text_field :last_name, class:'input' %>
        </div>

        <div class="field">
          <%= f.label :email, class:'label' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'input' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password, class:'label' %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class:'input' %>
          <% if @minimum_password_length %>
            <em>(<%= t('devise.common.min_char', number: @minimum_password_length) %>)</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class:'label'%>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'input' %>
        </div>

        <div class="field">
          <%= f.label :current_password, class:'label' %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class:'input' %>
        </div>

        <div class="actions">
          <%= f.submit t('common.update'), class:'button is-success' %>
        </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name),
                                data: { confirm: t('common.confirm') },
                                method: :delete,
                                class:'button is-danger'%></p>

      <%= link_to t('common.back'), :back %>
    </div>
  </div>
</div>
