<div class="container">
  <div class="columns is-centered">
    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
    <p class="subtitle is-5 has-text-centered">Sign up</p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class:'box'}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :first_name, class:'label' %>
          <%= f.text_field :first_name, autofocus: true, class:'input' %>
        </div>

        <div class="field">
          <%= f.label :patronymic, class:'label' %>
          <%= f.text_field :patronymic, class:'input' %>
        </div>

        <div class="field">
          <%= f.label :last_name, class:'label' %>
          <%= f.text_field :last_name, class:'input' %>
        </div>

        <div class="field">
          <%= f.label :email, class:'label' %>
          <%= f.email_field :email, autocomplete: "email", class:'input' %>
        </div>

        <div class="field">
          <%= f.label :password, class:'label' %>
          <% if @minimum_password_length %>
          <em>(<%= t('devise.common.min_char', number: @minimum_password_length) %>)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class:'input' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class:'label' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'input' %>
        </div>

        <div class="filed">
          <%= f.submit t('devise.form.sign_up'), class:'button is-success' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
