<li><%= link_to "#{attachment.filename}", rails_blob_path(attachment, disposition: "attachment") %>
  <%= link_to t('common.destroy_link'), attachment_path(attachment),
                                            method: :delete,
                                            data: { confirm: t('common.confirm') }, class:'delete' %></li>