<% if resource.files.attached? %>
  <strong><%= resource.files.size > 1 ? 'Attachments:' : 'Attachment:' %></strong>
  <ul>
    <%= render partial: "comments/attachment_comments_#{resource_action}", collection: resource.files, as: :attachment  %>
  </ul>
<% end %>