<li id="attachment-<%= attachment.id %>">
  <%= link_to "#{attachment.filename}", rails_blob_path(attachment, disposition: "attachment") %>
  (id: <%=attachment.id %>) <a href="/attachments/<%= attachment.id %>" data-confirm="Destroy <%= attachment.filename %>?" class="delete" >Delete attachment</a></li>