<%= form_with model:[resource, Comment.new], id:'add-new-comment' do |f| %>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <% if current_user.avatar.attached? %>
            <%= image_tag(current_user.avatar.variant(resize: "64x64!"), class:'is-rounded') %>
          <% else %>
            <%= user_gravatar(current_user, class:'navbar-avatar is-rounded') %>
          <% end %>
        </p>
      </figure>
      <div class="media-content">
        <div class="field">
          <p class="control">
            <%= f.text_area :content, placeholder: "Add a comment", class:'textarea' %>
          </p>
        </div>
        <div class="field">
          <%= render 'common/file_field_section', builder: f, field: :files %>
        </div>
        <div class="field">
          <p class="control">
              <%= f.submit "Add Comment", class:'button is-info' %>
          </p>
        </div>
      </div>
    </article>
  <% end %>