<article class="media">
<%= hidden_field_tag 'comment-id', comment.id %>
  <% unless comment.author.nil? %>
  <figure class="media-left">
    <p class="image is-64x64">
      <% if comment.author.avatar.attached? %>
        <%= image_tag(comment.author.avatar.variant(resize: "64x64!"), class:'is-rounded') %>
      <% else %>
        <%= user_gravatar(comment.author, class:'navbar-avatar is-rounded') %>
      <% end %>
    </p>
  </figure>
  <% end %>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= author_name_from_parent_instance(comment) %></strong>
        <%=content_tag(:span, comment.author_role,
          class: "tag #{user_role_css_class(comment.author)}") %>
        <% if comment.parent %>
        <%= fa_icon "reply", class:'fa-flip-horizontal' %>
        <strong><%= author_name_from_parent_instance(comment.parent) %></strong>
        <% end %>
        <small>
          <%= timeago_tag comment.created_at, :nojs => true, :limit => 10.days.ago, :lang => I18n.locale %>
          <%= t('common.time_ago') if comment.created_at >= 10.days.ago %>
        </small>
        <div class="comment-content">
        <div class="main-text">
          <%= comment.content %>
        </div>
        <div class="attachments-list">
          <%= render 'comments/attachments_comments', resource: comment, resource_action: 'show' %>
        </div>
        </div>
        <div class="field has-addons">
          <p class="control">
            <a id="reply-comment" href="/comments/<%= comment.id %>/comments/new" class="button is-small">
              <span class="icon is-small">
                <%= fa_icon "reply" %>
              </span>
              <span><%= t('common.reply_link') %></span>
            </a>
          </p>
          <% if (policy(comment).edit? && current_user == comment.author) || current_user.admin? %>
            <p class="control">
              <a id="edit-comment" href="/comments/<%= comment.id %>/edit" class="button is-small">
                <span class="icon is-small">
                  <%= fa_icon "pencil" %>
                </span>
                <span><%= t('common.edit_link') %></span>
              </a>
            </p>
          <% end %>
          <% if current_user.admin? %>
            <p class="control">
              <a id="delete-comment" href="/comments/<%= comment.id %>" data-confirm="Destroy this comment?" class="button is-small" >
              <span class="icon is-small">
                  <%= fa_icon "trash" %>
                </span>
                <span><%= t('common.destroy_link') %></span>
              </a>
            </p>
          <% end %>
        </div>
        <div id="reply-comment-form" class="comment-form">
          <%= render 'comments/reply_form', resource: comment %>
        </div>
        <div id="edit-comment-form" class="comment-form"></div>
      </p>
    </div>
    <%= render comment.ordered_comments %>
  </div>
</article>