<%= form_with model: resource do |f| %>
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
          <%= image_tag(current_user.avatar.variant(resize: "64x64!")) %>
      </p>
    </figure>
    <div class="media-content">
      <div class="field">
        <p class="control">
          <%= f.text_area :content, placeholder: "Add a comment", class:'textarea' %>
        </p>
      </div>
        <%= render 'comments/attachments_comments', resource: resource, resource_action: 'edit' %>
        <div class="field">
        <%= render 'common/file_field_section', builder: f, field: :files %>
      </div>
      <div class="field">
        <p class="control">
            <%= f.submit "Update Comment", class:'button is-info' %>
        </p>
      </div>
    </div>
  </article>
<% end %>