<%= form_with model:[resource, Comment.new], id: 'add-reply' do |f| %>
  <%= f.text_area :content, placeholder: "Add a Reply", class:'textarea' %><br />
  <div class="field">
    <%= render 'common/file_field_section', builder: f, field: :files %>
  </div>
  <%= f.submit "Reply", class:'button is-info' %>
<% end %>