if ($(":hidden[name='comment-id'][value=<%= @comment.parent.id %>]").parent().find('.media-content:first > .media:last').length > 0) {
  $(":hidden[name='comment-id'][value=<%= @comment.parent.id %>]").parent().find('.media-content:first > .media:last').after("<%= j render @comment %>");
}
else {
  $(":hidden[name='comment-id'][value=<%= @comment.parent.id %>]").parent().find('.media-content:first > .content:first').after("<%= j render @comment %>");
}
$("form#add-reply").find("textarea#comment_content").val("");
$("form#add-reply").find(":file#comment_files").val(null);
$("form#add-reply").hide();