$(":hidden[name='comment-id'][value=<%= @comment.id %>]").parent().find(".comment-content:first > .main-text").html("<%= @comment.content %>");
$(":hidden[name='comment-id'][value=<%= @comment.id %>]").parent().find(".comment-content:first > .attachments-list").html("<%= j render 'comments/attachments_comments', resource: @comment, resource_action: 'show' %>");
$(":hidden[name='comment-id'][value=<%= @comment.id %>]").parent().find("#edit-comment-form:first").html("");
$(":hidden[name='comment-id'][value=<%= @comment.id %>]").parent().find("#edit-comment-form:first").css("display", "none");