<tr>
  <td><%= implementer_from_parent_instance(contract) %></td>
  <td><%= contract.project_title %></td>
  <td><%= contract.start_time %></td>
  <td><%= contract.finish_time %></td>
  <td><%= link_to t('common.show_link'), contract_path(contract), class:'button is-info' %></td>
  <% if (policy(contract).edit? && contract.author == current_user) || current_user.admin? %>
    <td><%= link_to t('common.edit_link'), edit_contract_path(contract), class:'button is-warning' %></td>
    <td><%= link_to t('common.destroy_link'), contract_path(contract),
                    method: :delete,
                    data: { confirm: t('common.confirm') }, class:'delete is-large' %></td>
  <% end %>
</tr>