<%= form_with model: model, local: true, class:'box' do |form| %>
  <%= render 'common/errors', resource: model %>
  <% if User.all.empty? || Project.all.empty? %>
    <p><%= t('contracts.users_or_projects_empty') %></p>
  <% else %>
    <%= render 'common/select_project_section', builder: form %>

    <%= render 'common/select_user_section', builder: form, table_field: :implementer_id %>

    <div class="field">
      <%= form.label :start_time, class:'label' %>
      <div class="control">
        <%= form.date_field :start_time %>
      </div>
    </div>

    <div class="field">
      <%= form.label :finish_time, class:'label' %>
      <div class="control">
        <%= form.date_field :finish_time %>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit model.new_record? ? t('contracts.submit.new') : t('contracts.submit.edit'), class:'button is-success' %>
      </div>
    </div>

  <% end %>

<% end %>