<%= render 'common/page_title', title: t('common.partials.contracts.header.listing') %>

<%= link_to t('.new_link'), new_contract_path, class:'button is-link' %>

<% if @contracts.empty? %>
  <p><%= t('.empty') %></p>
<% else %>
  <table class="table is-fullwidth is-striped">
    <tr>
      <th><%= t('.user') %></th>
      <th><%= t('.project') %></th>
      <th><%= t('.start_time') %></th>
      <th><%= t('.finish_time') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <%= render partial: 'contract', collection: @contracts, as: :contract %>
  </table>
  <%= render 'common/paginate_component', objects: @contracts %>
<% end %>