<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <strong><%= t('.user') %>:</strong>
        <%= implementer_from_parent_instance(@contract) %>
      </div>
      <div class="content">
        <strong><%= t('.project') %>:</strong>
        <%= @contract.project_title %>
      </div>
      <div class="content">
        <strong><%= t('.start_time') %>:</strong>
        <%= @contract.start_time %>
      </div>
      <div class="content">
        <strong><%= t('.finish_time') %>:</strong>
        <%= @contract.finish_time %>
      </div>
    </div>
  </article>
</div>

<%= link_to t('common.back'), contracts_path, class:'button is-link' %>
