<%= form_with model: model, local: true, class:'box' do |form| %>
  <%= render 'common/errors', resource: model %>

  <% if Project.all.empty? %>
    <p>In current time you can't create new task because we nave no projects</p>
  <% else %>
    <%= render 'common/select_project_section', builder: form %>

    <%= render 'common/select_user_section', builder: form, table_field: :implementer_id %>

    <div class="field">
      <%= form.label :title, class:'label' %>
      <div class="control">
        <%= form.text_field :title, class:'input' %>
      </div>
    </div>

    <div class="field">
      <%= form.label :body, class:'label' %>
      <div class="control">
        <%= form.text_area :body, class:'input' %>
      </div>
    </div>

    <div class="content">
      <%= render 'common/attachments', resource: model %>
      <%= render 'common/file_field_section', builder: form, field: :files %>
    </div>

    <div class="field">
      <%= form.label :start_time, class:'label' %>
      <div class="control">
        <%= form.date_field :start_time %>
      </div>
    </div>

    <div class="field">
      <%= form.label :finish_time, class:'label' %>
      <div class="control">
        <%= form.date_field :finish_time %>
      </div>
    </div>

    <div class="field">
      <%= form.label :status, class:'label' %>
      <div class="control">
        <div class="select">
          <%= form.select :status, Task.statuses.to_a.map { |w| [w[0].humanize, w[0]] } %>
        </div>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit model.new_record? ? t('tasks.submit.new') : t('tasks.submit.edit'), class:'button is-success' %>
      </div>
    </div>

  <% end %>

<% end %>