<tr>
  <td><%= task.title %></td>
  <td><%= task.body %></td>
  <td><%= task.start_time %></td>
  <td><%= task.finish_time %></td>
  <td><%= task.status %></td>
  <td><%= task.project_title %></td>
  <td><%= implementer_from_parent_instance(task) %></td>
  <td><%= task.files.size %></td>
  <td><%= link_to t('common.show_link'), task_path(task), class:'button is-info' %></td>
  <% if (policy(task).edit? && current_user == task.user) || current_user.admin? %>
    <td><%= link_to t('common.edit_link'), edit_task_path(task), class:'button is-warning' %></td>
    <td><%= link_to t('common.destroy_link'), task_path(task),
                    method: :delete,
                    data: { confirm: t('common.confirm') }, class:'delete is-large' %></td>
  <% end %>
</tr>