<%= render 'common/page_title', title: t('common.partials.tasks.header.listing') %>

<%= link_to t('.new_link'), new_task_path, class:'button is-link' %>

<% if @tasks.empty? %>
  <p><%= t('.empty') %></p>
<% else %>
  <table class="table is-fullwidth is-striped">
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.body') %></th>
      <th><%= t('.start_time') %></th>
      <th><%= t('.finish_time') %></th>
      <th><%= t('.status') %></th>
      <th><%= t('.project') %></th>
      <th><%= t('.implementer') %></th>
      <th><%= t('.number_attachment') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <%= render partial: 'task', collection: @tasks, as: :task %>
  </table>
  <%= render 'common/paginate_component', objects: @tasks %>
<% end %>