<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <strong><%= t('.title') %>:</strong>
        <%= @task.title %>
      </div>
      <div class="content">
        <strong><%= t('.body') %>:</strong>
        <%= @task.body %>
      </div>
      <div class="content">
        <%= render 'common/attachments', resource: @task %>
      </div>
      <div class="content">
        <strong><%= t('.start_time') %>:</strong>
        <%= @task.start_time %>
      </div>
      <div class="content">
        <strong><%= t('.finish_time') %>:</strong>
        <%= @task.finish_time %>
      </div>
      <div class="content">
        <strong><%= t('.status') %>:</strong>
        <%= @task.status %>
      </div>
      <div class="content">
        <% if @task.project.nil? %>
          <p><%= t('.project_empty') %></p>
        <% else %>
          <strong><%= t('.project') %>:</strong>
          <%= @task.project_title %>
        <% end %>
      </div>
      <div class="content">
        <% if @task.user.nil? %>
          <p><%= t('.implementer_empty') %></p>
        <% else %>
          <strong><%= t('.implementer') %>:</strong>
          <%= implementer_from_parent_instance(@task) %>
        <% end %>
      </div>
    </div>
  </article>
</div>
<div id="comments-container" class="box">
  <p class="title is-4 has-text-centered"><%= t('.comments') %></p>
  <% if @task.comments %>
    <%= render partial: 'comments/comment', collection: @task.comments, as: :comment %>
  <% end %>
  <%= render 'comments/comment_form', resource: @task %>
</div>

<%= link_to t('common.back'), tasks_path, class:'button is-link' %>
