<div class="container">
  <div class="columns is-centered">
    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
      <p class="subtitle is-5 has-text-centered">
        <%= t('devise.form.unlocks.title') %>
      </p>

      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class:'box' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email, class:'label' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'input' %>
        </div>

  <div class="field">
    <%= f.submit t('devise.form.unlocks.submit'), class:'button is-success' %>
  </div>
<% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
