<%= form_with model: model, local: true, class:'control' do |form| %>
  <%= render 'common/errors', resource: model %>

  <div class="field">
    <%= form.label :avatar, class:'label' %>
    <div class="control">
      <%= form.file_field :avatar, accept: 'image/png,image/gif,image/jpeg,image/jpg', class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :first_name, class:'label' %>
    <div class="control">
      <%= form.text_field :first_name, class:'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :patronymic, class:'label' %>
    <div class="control">
      <%= form.text_field :patronymic, class:'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :last_name, class:'label' %>
    <div class="control">
      <%= form.text_field :last_name, class:'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :git_token, class:'label' %>
    <div class="control">
      <%= form.text_field :git_token, class:'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :slack_token, class:'label' %>
    <div class="control">
      <%= form.text_field :slack_token, class:'input' %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit model.new_record? ? t('users.submit.new') : t('users.submit.edit'), class:'button is-success' %>
    </div>
  </div>

<% end %>