<tr class=<%= user_color_row(user) %>>
  <% if user.avatar.attached? %>
    <td><%= image_tag(user.avatar.variant(resize: "50X50!")) %></td>
  <% else %>
    <td><%= user_gravatar(current_user, class: 'user-index-gravatar') %></td>
  <% end %>
  <td><%= user.first_name %></td>
  <td><%= user.patronymic %></td>
  <td><%= user.last_name %>
    <span class="tag <%= user_role_css_class(user) %>">
      <%= user.role %>
    </span>
  </td>
  <td><%= user.email %></td>
  <td><%= link_to t('common.show_link'), user_path(user), class:'button is-info' %></td>
  <% if policy(user).update? %>
    <td><%= link_to t('common.edit_link'), edit_user_registration_path(user), class:'button is-warning' %></td>
  <% end %>
  <% if policy(user).destroy? && current_user != user %>
    <td><%= link_to t('common.destroy_link'), user_path(user),
                        method: :delete,
                        data: { confirm: t('common.confirm') }, class:'delete is-large' %></td>
  <% else %>
    <td></td>
  <% end %>
</tr>