<%= render 'common/page_title', title: t('common.partials.users.header.listing') %>

<% if @users.non_decorated_users.empty? %>
  <p><%= t('.empty') %></p>
<% else %>
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th><%= t('.avatar') %></th>
        <th><%= t('.first_name') %></th>
        <th><%= t('.patronymic') %></th>
        <th><%= t('.last_name') %></th>
        <th><%= t('.email') %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'user', collection: @users.non_decorated_users, as: :user %>
    </tbody>
  </table>
<% end %>