

<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-100x100">
        <% if @user.avatar.attached? %>
          <%= image_tag(@user.avatar.variant(resize: "100x100!")) %>
        <% else %>
          <%= user_gravatar(@user, class: 'user-show-gravatar') %>
        <% end %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <strong><%= t('.first_name') %>:</strong>
        <%= @user.first_name %>
      </div>
      <div class="content">
        <strong><%= t('.patronymic') %>:</strong>
        <%= @user.patronymic %>
      </div>
      <div class="content">
        <strong><%= t('.last_name') %>:</strong>
        <%= @user.last_name %>
      </div>
    </div>
  </article>
</div>

<%= link_to t('common.back'), users_path, class:'button is-link' %>