<div class="container">
  <div class="columns is-centered">
    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
      <p class="subtitle is-5 has-text-centered"><%= t('devise.form.change_password.title') %></p>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class:'box' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, t('devise.form.new_password_label'), class:'input' %>
          <% if @minimum_password_length %>
            <em>(<%= t('devise.common.min_char', number: @minimum_password_length) %>)</em>
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:'input' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, t('devise.form.new_password_confirmation'), class:'label' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'input' %>
        </div>

        <div class="field">
          <%= f.submit t('devise.form.change_password.submit'), class:'button is-success' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
