<%= form_with model: model, local: true, class:'box' do |form| %>
  <%= render 'common/errors', resource: model %>
  <% if current_user.integration_service_tokens.empty? %>
    <p><%= t('notification_settings.tokens_empty') %></p>
  <% else %>
    <% if model.new_record? %>
      <div class="field">
        <%= form.label :type, class:'label' %>
        <div class="control">
          <div class="select">
            <%= form.select :type, IntegrationServiceToken.types.collect {|p| [ p.underscore.humanize.split(" ")[0], p.underscore.humanize.split(" ")[0] + "NotificationSetting" ] }, class:'input' %>
          </div>
        </div>
      </div>
    <% end %>

    <%= render 'common/select_project_section', builder: form %>

    <%= render 'common/select_token_section', builder: form %>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit model.new_record? ? t('notification_settings.submit.new') : t('notification_settings.submit.edit'), class:'button is-success' %>
      </div>
    </div>

  <% end %>

<% end %>