<tr>
  <td><%= author_name_from_parent_instance(notification_setting) %></td>
  <td><%= notification_setting.project_title %></td>
  <td><%= channel_and_workspace_from_parent_instance(notification_setting) %></td>
  <td><%= token_type_from_parent_instance(notification_setting) %></td>
  <td><%= link_to t('common.show_link'), notification_setting_path(notification_setting), class:'button is-info' %></td>
  <%# if (policy(contract).edit? && contract.author == current_user) || current_user.admin? %>
    <td><%= link_to t('common.edit_link'), edit_notification_setting_path(notification_setting), class:'button is-warning' %></td>
    <td><%= link_to t('common.destroy_link'), notification_setting_path(notification_setting),
                    method: :delete,
                    data: { confirm: t('common.confirm') }, class:'delete is-large' %></td>
  <%# end %>
</tr>