<%= render 'common/page_title', title: t('common.partials.notification_settings.header.listing') %>

<%= link_to t('.new_link'), new_notification_setting_path, class:'button is-link' %>

<% if @notification_settings.empty? %>
  <p><%= t('.empty') %></p>
<% else %>
  <table class="table is-fullwidth is-striped">
    <tr>
      <th><%= t('.author') %></th>
      <th><%= t('.project') %></th>
      <th><%= t('.token') %></th>
      <th><%= t('.type') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <%#= render @notification_settings %>
    <%= render partial: "notification_settings/notification_setting", collection: @notification_settings, as: :notification_setting %>
  </table>
  <%= render 'common/paginate_component', objects: @notification_settings %>
<% end %>