<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <strong><%= t('.author') %>:</strong>
        <%= author_name_from_parent_instance(@notification_setting) %>
      </div>
      <div class="content">
        <strong><%= t('.token') %>:</strong>
        <%= channel_and_workspace_from_parent_instance(@notification_setting) %>
      </div>
      <div class="content">
        <strong><%= t('.type') %>:</strong>
        <%= token_type_from_parent_instance(@notification_setting) %>
      </div>
    </div>
  </article>
</div>

<%= link_to t('common.back'), notification_settings_path, class:'button is-link' %>
