<%= form_with model: model, local: true, class:'box' do |form| %>
  <%= render 'common/errors', resource: model %>

  <div class="field">
    <%= form.label :title, class:'label' %>
    <div class="control">
      <%= form.text_field :title, class:'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :body, class:'label' %>
    <div class="control">
      <%= form.text_area :body, class:'input' %>
    </div>
  </div>

  <div class="content">
    <%= render 'common/attachments', resource: model %>
    <%= render 'common/file_field_section', builder: form, field: :files %>
  </div>

  <div class="field">
    <%= form.label :number_stages, class:'label' %>
    <div class="control">
      <div class="select">
        <%= form.select(:number_stages) do %>
          <% (1..10).each do |c| -%>
            <%= content_tag(:option, c, value: c) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :start_time, class:'label' %>
    <div class="control">
      <%= form.date_field :start_time %>
    </div>
  </div>

  <div class="field">
    <%= form.label :finish_time, class:'label' %>
    <div class="control">
      <%= form.date_field :finish_time %>
    </div>
  </div>

  <div class="field">
    <%= form.label :status, class:'label' %>
    <div class="control">
      <div class="select">
        <%= form.select :status, Project.statuses.to_a.map { |w| [w[0].humanize, w[0]] } %>
      </div>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit model.new_record? ? t('projects.submit.new') : t('projects.submit.edit'), class:'button is-success' %>
    </div>
  </div>

<% end %>