<tr>
  <td><%= project.title %></td>
  <td><%= project.body %></td>
  <td><%= project.files.size %></td>
  <td><%= project.number_stages %></td>
  <td><%= project.start_time %></td>
  <td><%= project.finish_time %></td>
  <td><%= project.status %></td>
  <td><%= link_to t('common.show_link'), project_path(project), class:'button is-info' %></td>
  <% if (policy(project).edit? && current_user == project.author) || current_user.admin? %>
    <td><%= link_to t('common.edit_link'), edit_project_path(project), class:'button is-warning' %></td>
    <td><%= link_to t('common.destroy_link'), project_path(project),
                    method: :delete,
                    data: { confirm: t('common.confirm') }, class:'delete is-large' %></td>
  <% end %>
</tr>