<%= render 'common/page_title', title: t('common.partials.projects.header.listing') %>

<%= link_to t('.new_link'), new_project_path, class:'button is-link' %>

<% if @projects.empty? %>
  <p><%= t('.empty') %></p>
<% else %>
  <table class="table is-fullwidth is-striped">
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.body') %></th>
      <th><%= t('.number_attachments') %></th>
      <th><%= t('.number_stages') %></th>
      <th><%= t('.start_time') %></th>
      <th><%= t('.finish_time') %></th>
      <th><%= t('.status') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <%= render partial: 'project', collection: @projects, as: :project %>
  </table>
  <%= render 'common/paginate_component', objects: @projects %>
<% end %>