<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <strong><%= t('.title') %>:</strong>
        <%= @project.title %>
      </div>
      <div class="content">
        <strong><%= t('.body') %>:</strong>
        <%= @project.body %>
      </div>
      <div class="content">
        <%= render 'common/attachments', resource: @project %>
      </div>
      <div class="content">
        <strong><%= t('.number_stages') %>:</strong>
        <%= @project.number_stages %>
      </div>
      <div class="content">
        <strong><%= t('.start_time') %>:</strong>
        <%= @project.start_time %>
      </div>
      <div class="content">
        <strong><%= t('.finish_time') %>:</strong>
        <%= @project.finish_time %>
      </div>
      <div class="content">
        <strong><%= t('.status') %>:</strong>
        <%= @project.status %>
      </div>
      <div class="content">
        <strong>Author:</strong>
        <%= @project.author.decorate.name_with_initial %>
      </div>
      <div class="content">
        <% if @project.tasks.empty? %>
          <p><%= t('.tasks_empty', title: @project.title) %></p>
        <% else %>
          <strong><%= t('.tasks') %>:</strong>
          <ul>
            <% @project.tasks.each do |task| %>
              <li><%=task.title %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="content">
        <% if @project.reports.empty? %>
          <p><%= t('.reports_empty', title: @project.title) %></p>
        <% else %>
          <strong><%= t('.reports') %>:</strong>
          <ul>
            <% @project.reports.each do |report| %>
              <li><%=report.title %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="content">
        <% if @project.implementers.empty? %>
          <p><%= t('.implementers_empty', title: @project.title) %></p>
        <% else %>
          <strong><%= t('.implementers') %>:</strong>
          <ul>
            <% @project.implementers.each do |implementer| %>
              <li><%=implementer.decorate.name_with_initial %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </article>
</div>

<%= link_to t('common.back'), projects_path, class:'button is-link' %>