<div class="container">
  <div class="columns is-centered">
    <div class="column is-6-tablet is-5-desktop is-4-widescreen">
    <p class="subtitle is-5 has-text-centered">
      <%= t('devise.form.log_in') %>
    </p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'box'}) do |f| %>
        <div class="field">
          <%= f.label :email, class:'label' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'input' %>
        </div>
        <div class="field">
          <%= f.label :password, class:'label' %>
          <%= f.password_field :password, autocomplete: "current-password", class:'input' %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class:'checkbox' %>
          </div>
        <% end %>
        <div class="field">
          <%= f.submit t('devise.form.log_in'), class:'button is-success' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>