<table class="table is-fullwidth is-striped">
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.body') %></th>
    <th><%= t('.number_attachments') %></th>
    <th><%= t('.number_stages') %></th>
    <th><%= t('.start_time') %></th>
    <th><%= t('.finish_time') %></th>
    <th><%= t('.status') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render partial: "common/projects/#{user_role}_project", collection: projects, as: :project %>
</table>