#comments-container {
  .media {
    .media {
      .media {
        .media {
          .media {
            .media {
              margin-left: -5em !important;
            }
          }
        }
      }
    }
  }
  
  form {
    margin-top: 1em;
  }

  #edit-comment-form {
    display: none;
  }

  #reply-comment-form {
    display: none;
  }
}