<tr>
  <td><%= image_tag(achievement.icon.variant(resize: "50X50!")) %></td>
  <td><%= achievement.title %></td>
  <td><%= achievement.description %></td>
  <td><%= link_to t('common.show_link'), achievement_path(achievement), class:'button is-info' %></td>
  <% if policy(achievement.becomes(Achievement)).edit? %>
    <td><%= link_to t('common.edit_link'), edit_achievement_path(achievement), class:'button is-warning' %></td>
    <td><%= link_to t('common.destroy_link'), achievement_path(achievement),
                    method: :delete,
                    data: { confirm: t('common.confirm') }, class:'delete is-large' %></td>
  <% end %>
</tr>