<%= form_with model: model, local: true, class:'box' do |form| %>
  <%= render 'common/errors', resource: model %>

  <div class="field">
    <%= form.label :icon, class:'label' %>
    <div class="control">
      <%= form.file_field :icon, accept: 'image/png,image/gif,image/jpeg,image/jpg', class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :title, class:'label' %>
    <div class="control">
      <%= form.text_field :title, class:'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, class:'label' %>
    <div class="control">
      <%= form.text_area :description, class:'input' %>
    </div>
  </div>

  <% if model.new_record? %>
    <div class="field">
      <%= form.label :type, class:'label' %>
      <div class="control">
        <div class="select">
          <%= form.select :type, Achievement.types.collect {|p| [ p.underscore.humanize.split(" ")[0], p ] }, class:'input' %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit model.new_record? ? t('achievements.submit.new') : t('achievements.submit.edit'), class:'button is-success' %>
    </div>
  </div>

<% end %>