<%= render 'common/page_title', title: t('common.partials.achievements.header.listing') %>
<% if policy(Achievement).new? %>
  <p class="buttons">
    <%= link_to t('.new_link'), new_achievement_path, class:'button is-link' %>
  </p>
<% end %>

<% if policy(Achievement).index? %>
  <%= form_tag achievements_path, method: 'get' do %>
    <div class="field has-addons">
      <div class="control is-expanded">
        <div class="select is-fullwidth">
          <%= select_tag :affiliation, options_for_select(%w(All Mine)) %>
        </div>
      </div>
      <div class="control">
        <%= submit_tag 'Filter', class:'button is-primary' %>
      </div>
    </div>
  <% end %>
<% end %>

<% if @achievements.empty? %>
  <p><%= t('.empty') %></p>
<% else %>
  <table class="table is-fullwidth is-striped">
    <tr>
      <th><%= t('.icon') %></th>
      <th><%= t('.title') %></th>
      <th><%= t('.description') %></th>
    </tr>
    <%= render partial: "achievements/achievement", collection: @achievements, as: :achievement %>
  </table>
  <%= render 'common/paginate_component', objects: @achievements %>
<% end %>