<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-100x100">
        <%= image_tag(@achievement.icon.variant(resize: "100X100!")) %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <strong><%= t('.title') %>:</strong>
        <%= @achievement.title %>
      </div>
      <div class="content">
        <strong><%= t('.description') %>:</strong>
        <%= @achievement.description %>
      </div>
    </div>
  </article>
</div>

<%= link_to t('common.back'), user_achievements_path(current_user), class:'button is-link' %>
