<p><%= t('common.welcome', email: @email) %></p>

<p><%= t('common.mail.new_confirm') %></p>

<p><%= link_to t('common.confirm_account'), confirmation_url(@resource, confirmation_token: @token) %></p>
