<p><%= t('common.hello', email: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('common.mail.changed_email.unconfirmed_email', email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t('common.mail.changed_email.confirmed_email', email: @resource.email) %></p>
<% end %>
