<p><%= t('common.hello', email: @resource.email) %></p>

<p><%= t('common.mail.body.reset_password.describe') %></p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('common.mail.body.reset_password.ignore') %></p>
<p><%= t('common.mail.body.reset_password.calm_down') %></p>