<p><%= t('common.hello', email: @resource.email) %></p>

<p><%= t('common.mail.body.unlock_instructions.reason') %></p>

<p><%= t('common.mail.body.unlock_instructions.describe_for_link') %></p>

<p><%= link_to t('common.unlock_account'), unlock_url(@resource, unlock_token: @token) %></p>
