<% if resource.files.attached? %>
  <strong><%= resource.files.size > 1 ? "#{t('common.attachment.many')}:" : "#{t('common.attachment.one')}:" %></strong>
  <ul>
    <%= render resource.files %>
  </ul>
<% elsif resource.persisted?%>
  <p><%= t('common.attachments_empty', title: resource.title) %></p>
<% end %>