<% if resource.errors.any? %>
  <div class="message is-danger">
    <h2 class="message-header"><%= t('common.errors') %>:</h2>
    <div class="message-body">
      <ul>
        <% resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>