<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
    <%= link_to "Home page", root_path, class:'navbar-item' %>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
      <%if policy(current_user).index? %>
        <%= link_to 'Users', users_path, class:'navbar-item' %>
      <% end%>
      <% if policy(Contract).index? %>
        <%= link_to 'Contracts', contracts_path, class:'navbar-item' %>
      <% end %>
      <% if current_user.admin? || current_user.manager? %>
        <%= link_to 'Notification settings', notification_settings_path, class:'navbar-item' %>
        <%= link_to 'Get slack token', slack_token_path, class:'navbar-item' %>
      <% end %>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">More</a>

          <div class="navbar-dropdown">
            <%= link_to 'Achievements', achievements_path, class:'navbar-item' %>
            <%= link_to 'Projects', projects_path, class:'navbar-item' %>
            <%= link_to 'Reports', reports_path, class:'navbar-item' %>
            <%= link_to 'Tasks', tasks_path, class:'navbar-item'%>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <% if current_user %>
          <section class="media">
            <div class="media-left">
              <figure class="image is-60x60">
              <% if current_user.avatar.attached? %>
                <%= image_tag(current_user.avatar.variant(resize: "60x60!"), class:'is-rounded') %>
              <% else %>
                <%= user_gravatar(current_user, class:'navbar-avatar is-rounded') %>
              <% end %>
              </figure>
            </div>
            <div class="media-content">
              <div class="full-name has-icons-left">
                <span class="icon is-small is-left">
                  <%= fa_icon 'user' %>
                </span>
                <%= user_name_from_instance(current_user) %>
              </div>
              <div class="role has-icons-left has-text-weight-bold">
                <span class="icon is-small is-left">
                  <%= fa_icon 'tag' %>
                </span>
                <%= current_user.role %>
              </div>
              <div class="e-mail has-icons-left">
                <span class="icon is-small is-left">
                  <%= fa_icon 'envelope' %>
                </span>
                <%= current_user.email %>
              </div>
            </div>
          </section>
        <% end %>
        <div class="navbar-item">
          <div class="buttons">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class:'button is-primary' %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>