<div class="field">
  <%= builder.label :integration_service_token_id, 'IntegrationServiceToken', class:'label' %>
  <div class="control">
    <div class="select">
      <%= builder.collection_select :integration_service_token_id, IntegrationServiceTokens::IndexValueObject.new(current_user).decorated_tokens, :id, :channel_with_workspace %>
    </div>
  </div>
</div>