<div class="field">
  <%= builder.label :project_id, 'Project', class:'label' %>
  <div class="control">
    <div class="select">
      <%= builder.collection_select :project_id, Projects::IndexValueObject.new(current_user).ordered_projects, :id, :title %>
    </div>
  </div>
</div>