<div class="field">
  <%= builder.label table_field, 'Implementer', class:'label' %>
  <div class="control">
    <div class="select">
      <%= builder.collection_select table_field, Users::IndexValueObject.new(current_user).decorated_users, :id, :full_name_with_postfix %>
    </div>
  </div>
</div>