<% if current_user.nil? %>
  <h1>Hello, someone</h1>
<% else %>
  <h1>Hello, <%= current_user.decorate.name_with_initial %> (<%= current_user.email %>)
    <strong><%= current_user.role.capitalize %></strong>
  </h1>
<% end %>