<div class='columns'>
  <div class='container profile'>
    <div class='section profile-heading'>
      <div class='columns is-mobile is-multiline'>
        <div class='column is-2'>
          <span class='header-icon user-profile-image'>
            <% if current_user.avatar.attached? %>
              <%= image_tag(current_user.avatar) %>
            <% else %>
              <%= user_gravatar current_user %>
            <% end %>
          </span>
        </div>
        <div class='column is-4-tablet is-10-mobile name'>
          <p>
            <span class='title is-bold'>
              <%= current_user.first_name %>
              <%= current_user.patronymic %>
              <%= current_user.last_name %>
            </span>
            <%= link_to t('common.edit_link'), edit_user_registration_path(current_user), class:'button is-primary is-outlined' %>
          </p>
        </div>
        <div class="columns">
          <a class='column is-four-fifths is-4-mobile has-text-centered' href="<%= user_achievements_path(current_user) %>">
            <p class='stat-val'><%= current_user.achievements.size %></p>
            <p class='stat-key'>achievements</p>
          </a>
          <div class='column is-four-fifths is-4-mobile has-text-centered'>
            <p class='stat-val'><%= user_projects_size(current_user) %></p>
            <p class='stat-key'>projects</p>
          </div>
          <div class='column is-four-fifths is-4-mobile has-text-centered'>
            <p class='stat-val'><%= user_contracts_size(current_user) %></p>
            <p class='stat-key'>contracts</p>
          </div>
        </div>
      </div>
    </div>
    <div class='profile-options is-fullwidth'>
      <% if current_user.achievements.present? %>
        <%= render 'common/achievements/achievements_container' %>
      <% else %>
        <article class="message is-warning">
          <div class="message-header">
            <p>Warning</p>
          </div>
          <div class="message-body has-text-centered">
            You have no achievements
          </div>
        </article>
      <% end %>
      <% if current_user.own_projects.present? %>
        <p class="subtitle is-5 has-text-centered">Own projects</p>
        <%= render 'common/projects/projects_container', user_role: 'own', projects: current_user.own_projects  %>
      <% else %>
        <article class="message is-warning">
          <div class="message-header">
            <p>Warning</p>
          </div>
          <div class="message-body has-text-centered">
            You have no own projects
          </div>
        </article>
      <% end %>
      <% if current_user.implementer_projects.present? %>
        <p class="subtitle is-5 has-text-centered">Projects as implementer</p>
        <%= render 'common/projects/projects_container', user_role: 'implementer', projects: current_user.implementer_projects %>
      <% else %>
        <article class="message is-warning">
          <div class="message-header">
            <p>Warning</p>
          </div>
          <div class="message-body has-text-centered">
            You have no projects as implementer
          </div>
        </article>
      <% end %>
    </div>
  </div>
</div>