<%= form_with model: model, local: true, class:'box' do |form| %>
  <%= render 'common/errors', resource: model %>

  <% if Project.all.empty? %>
    <p><%= t('reports.projects_empty') %></p>
  <% else %>
    <%= render 'common/select_project_section', builder: form %>

    <div class="field">
      <%= form.label :title, class:'label' %>
      <div class="control">
        <%= form.text_field :title, class:'input', value: Faker::Lorem.sentence(word_count: 3) %>
      </div>
    </div>

    <div class="field">
      <%= form.label :body, class:'label' %>
      <div class="control">
        <%= form.text_area :body, class:'input', value: Faker::Lorem.sentence(word_count: 15) %>
      </div>
    </div>

    <div class="field">
      <%= form.label :amount_time, class:'label' %>
      <div class="control">
        <%= form.number_field(:amount_time, in: 1..999, step: 1) %>
      </div>
    </div>

    <div class="content">
      <%= render 'common/attachments', resource: model %>
      <%= render 'common/file_field_section', builder: form, field: :files %>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit model.new_record? ? t('reports.submit.new') : t('reports.submit.edit'), class:'button is-success' %>
      </div>
    </div>

  <% end %>

<% end %>