<tr>
  <td><%= report.title %></td>
  <td><%= report.body %></td>
  <td><%= report.files.size %></td>
  <td><%= report.amount_time %></td>
  <td><%= report.project_title %></td>
  <td><%= link_to t('common.show_link'), report_path(report), class:'button is-info' %></td>
  <% if policy(report).update? %>
    <td><%= link_to t('common.edit_link'), edit_report_path(report), class:'button is-warning' %></td>
  <% end %>
  <% if policy(report).destroy? %>
    <td><%= link_to t('common.destroy_link'), report_path(report),
                    method: :delete,
                    data: { confirm: t('common.confirm') }, class:'delete is-large' %></td>
  <% end %>
</tr>