<%= render 'common/page_title', title: t('common.partials.reports.header.listing') %>

<%= link_to t('.new_link'), new_report_path, class:'button is-link' %>

<% if @reports.empty? %>
  <p><%= t('.empty') %></p>
<% else %>
  <table class="table is-fullwidth is-striped">
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.body') %></th>
      <th><%= t('.number_attachments') %></th>
      <th><%= t('.amount_time') %></th>
      <th><%= t('.project') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <%= render @reports %>
  </table>
  <%= render 'common/paginate_component', objects: @reports %>
<% end %>