<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <strong><%= t('.title') %>:</strong>
        <%= @report.title %>
      </div>
      <div class="content">
        <strong><%= t('.body') %>:</strong>
        <%= @report.body %>
      </div>
      <div class="content">
        <strong><%= t('.amount_time') %>:</strong>
        <%= @report.amount_time %>
      </div>
      <div class="content">
        <%= render 'common/attachments', resource: @report %>
      </div>
      <div class="content">
        <% if @report.project.nil? %>
          <p><%= t('.project_empty', title: @report.title) %></p>
        <% else %>
          <strong><%= t('.project') %>:</strong>
          <%= @report.project_title %>
        <% end %>
      </div>
    </div>
  </article>
</div>

<%= link_to t('common.back'), reports_path, class:'button is-link' %>