<!DOCTYPE html>
<html>
  <head>
    <title>Gamefication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-warning">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="notification is-danger">
        <%= flash[:error] %>
      </div>
    <% end %>
    <% if current_user %>
      <%= render 'common/navbar' %>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        "(c) 2019 - <%= Date.current.year %> <%= t('common.author') %>"
      </div>
    </footer>
  </body>
</html>
